@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  margin: 0;
}

body,
html,
* {
  font-family: "Lato", sans-serif !important;
}

.container {
  display: grid;
  place-content: center;
  width: 100dvw;
  height: 100dvh;
}

button {
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 16px !important;
}

button.googleButton {
  height: 40px !important;
  width: 250px !important;
  color: white !important;
  background-color: rgb(5, 164, 5) !important;
  font-size: 20px !important;
}

button.kep-login-facebook {
  height: 40px !important;
  width: 250px !important;
  color: white !important;
  background-color: rgb(21, 109, 241) !important;
  font-size: 20px !important;
  text-transform: none !important;
  padding: 3px 20px !important;
  font-weight: 600 !important;
  margin-top: 10px;
  font-size: 18px !important;
}

button.googleButton.phoneButton {
  background: orange !important;
  margin-top: 10px !important;
}

input {
  height: 40px;
  width: 235px;
  border:1px solid #eee;
  margin: 10px 0px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 10px;
}

button.logout {
  color: red;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  border: 1px solid red;
  padding: 2px 10px;
  width: fit-content;
  margin: 10px auto;
}

.profile {
  padding: 20px;
  width: 400px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: grid;
  place-content: center;
}

.profile img {
  height: 100px;
  width: 100px;
  margin: 10px auto;
  border-radius: 100%;
  object-fit: cover;
}

.profile p {
  font-size: 18px;
}
